@{ 
    @model List<BillarManager.Models.Mesa>
        
}
<div class="container container-fluid">
    <div class="container text-center"> 
        <h1>Mesas</h1>
    </div>
    <div class="mesa" style="min-height:600px; padding: 0% 3%">
        @foreach(Mesa item in Model)
        {
        <div class="container container-fluid text-center individual">
            <div class="" style="height:20%">
                  <h4>@item.idMesa</h4>
            </div>
            <div style="height:60%">
                <img src="~/css/PoolFull2.png" class="img-fluid" onclick="meta(Event, @item.idMesa)"/>
            </div>
            <div style="height:20%">
                <h6>Observaciones:</h6>
                <h6>@item.Observaciones</h6>
            </div>
        </div>
        }
         <div class="container container-fluid text-center individual">
            <div class="" style="height:20%">
                  <h4>Nueva Mesa</h4>
            </div>
            <div style="max-height:60%; min-height:60%">
                <img src="~/plus.png" class="img-fluid img" height="50px" width="50px" style="margin: 15%" onclick="meta(Event)"/>
            </div>
            <div style="height:20%">
                <h6>Observaciones:</h6>
                <h6></h6>
            </div>
        </div>
    </div>

</div>
<script>

function meta(e, item) {
    alert(item);
}
</script>