@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form name="Login" asp-action="Login" asp-controller="Home" method="post">
        <div>
            <label class="form-label" for="username">Usuario
                <input type="text" name="username" maxlength="50" class="form-control"/>
            </label>
        </div>
        <div>
            <label class="form-label" for="Password">Contraseña
                <input type="text" name="Password" maxlength="50" class="form-control"/>
            </label>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" name="Login" value="Login"/>
        </div>
    </form>
</div>
